In [3]:
import pandas as pd
import numpy as np

Primero cargamos el archivo de datos.

In [17]:
# Selecionamos las columnas que nos interesan, y las pasamos a min√∫sculas
csv_path = '../data/Hotel_Reviews.csv'
columns_to_remove = ['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date', 'Average_Score', 'Reviewer_Nationality', 'Review_Total_Negative_Word_Counts', 'Total_Number_of_Reviews', 'Review_Total_Positive_Word_Counts', 'Total_Number_of_Reviews_Reviewer_Has_Given', 'Tags', 'days_since_review', 'lat', 'lng']
df = pd.read_csv(csv_path)
df = df.drop(columns=columns_to_remove)
df.columns = df.columns.str.lower()

df.head()

,hotel_name,negative_review,positive_review,reviewer_score
0,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,2.9
1,Hotel Arena,No Negative,No real complaints the hotel was great great ...,7.5
2,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7.1
3,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,3.8
4,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,6.7

In [18]:
# Replace 'no negative' with an empty string
df['negative_review'] = df['negative_review'].replace('No Negative', '')

# Replace 'no positive' with an empty string
df['positive_review'] = df['positive_review'].replace('No Positive', '')

# Combine the negative and positive reviews into a single column
df['combined_reviews'] = df['negative_review'] + ' ' + df['positive_review']

# Drop the unnecessary columns
df = df[['hotel_name', 'combined_reviews', 'reviewer_score']]

df.head()

,hotel_name,combined_reviews,reviewer_score
0,Hotel Arena,I am so angry that i made this post available...,2.9
1,Hotel Arena,No real complaints the hotel was great great...,7.5
2,Hotel Arena,Rooms are nice but for elderly a bit difficul...,7.1
3,Hotel Arena,My room was dirty and I was afraid to walk ba...,3.8
4,Hotel Arena,You When I booked with your company on line y...,6.7

------------------------------------------------------------------------------------------------------------------------------