- Hotel Reviews

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# Selecionamos las columnas que nos interesan, y las pasamos a min√∫sculas
csv_path = '../data/Hotel_Reviews.csv'
selected_columns = ['Hotel_Name', 'Positive_Review', 'Negative_Review', 'lat', 'lng']
data = pd.read_csv(csv_path, usecols=selected_columns)
data.columns = data.columns.str.lower()

data.head()

,hotel_name,negative_review,positive_review,lat,lng
0,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,52.360576,4.915968
1,Hotel Arena,No Negative,No real complaints the hotel was great great ...,52.360576,4.915968
2,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,52.360576,4.915968
3,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,52.360576,4.915968
4,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,52.360576,4.915968